# Created by https://www.gitignore.io/api/macos,ansible

### Ansible ###
*.retry

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


# End of https://www.gitignore.io/api/macos,ansible

# Ignore the Ansible working directory to make it easier
# to update this set of Docker files for the environment
# without losing any Ansible work.
ansible/*

# Track the README.md file for the ansible directory so that
# the directory is created on the inital clone
!ansible/README.md
